# packaging
#pip>=9
setuptools>=26
#twine
#wheel>=0.29

# data science
numpy
pandas
#scikit-learn
#seaborn

# tests/linter
#black
#coverage
#flake8
#pytest
#yapf

# API
#gcsfs
#google-cloud-storage
#mlflow
#s3fs
requests
regex

# utilities
#six>=1.14
joblib
#memoized-property
#termcolor
#config

#logging
datetime


#mapping
folium
geopandas
#pyproj

# modelling
keras
tensorflow-cpu

# model deployment
#fastapi
#uvicorn

# streamlit
streamlit
streamlit-folium

# twitter
tweepy

#visualisation
plotly
