# packaging
setuptools>=26

# data science
numpy
pandas


# API
requests
regex

# utilities
joblib

#logging
datetime

#mapping
folium
geopandas

# modelling
keras
tensorflow-cpu

# streamlit
streamlit
streamlit-folium

# twitter
tweepy

#visualisation
plotly
